## 1. 변수의 특징

+ 묵시적 선언
+ 동적 바인딩
+ immutable(불변성)

In [13]:
a = 10
print(a)

a=3.14
print(a)

a="가나다"
print(a)

a=True
print(a)

10
3.14
가나다
True

In [14]:
a = 10 #a라는 변수에 10을 저장하겠다는 의미x, 10을 어느 공간에 저장하겠다는 의미
print(a) #저장된 위치를 찾아가 값을 꺼내겠다는 의미

a = 20 #10이라는 값이 20으로 변하는게 아니라 20이라는 데이터를 새로운 공간에 저장하는 것!
print(a)

10
20

In [11]:
int i;
i = 10  #비객체일때는 i라는 객체에 10을 저장할 수 있음(값을 직접적으로 저장)

Integer i = new Integer();
i=10;  #객체일때는 10이라는 값이 별도의 위치(heap)에 저장됨
i=11; #10이 11로 변하는게 아니라 저장되는 위치가 다르다(불변성)

SyntaxError: invalid syntax (Temp/ipykernel_324/1776475104.py, line 1)

## 2. Data Type

1. 기본 자료형
   - int
   - float
   - str
   - bool

2. 집합 자료형
   - list
   - tuple
   - dict
   - set

In [18]:
a = 10 #값을 하나씩만 저장할 수 있음
type(a) #데이터 타입을 알려줌
print(type(a))

a=3.14
print(type(a))

a=True
print(type(a))

a="가나다라"
print(type(a))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>

### (1) str

In [23]:
a = 10
print(type(a))

a="10"
print(type(a))

a='안녕하세요'
print(a)

a='''안녕하세요
저는 홍길동이라고
합니다'''
print(a)

<class 'int'>
<class 'str'>
안녕하세요
안녕하세요
저는 홍길동이라고
합니다

In [27]:
##### 특수문자 : \문자(\n, \t, ...), \(escape)

print("이것은 줄바꿈문자입니다. \n\n\n줄바꿈이 되었나요?")

print("\\n은 줄바꿈 기능을 가진 특수문자이다")

이것은 줄바꿈문자입니다.


줄바꿈이 되었나요?
\n은 줄바꿈 기능을 가진 특수문자이다

In [28]:
# \를 줄바꿈의 용도로도 사용한다

a = 10 + 5 + 2 \
* 3 - 1
print(a)

20

In [31]:
# 문자열 연결
a='python'
b=' is fun'
c=" and great"
d=a+b+c
print(d)

d=a,b,c
print(d)

python is fun and great
('python', ' is fun', ' and great')

In [33]:
# 문자열의 반복

print(a*3)

pythonpythonpython

In [34]:
# 문자열의 길이
print(len(a))
print(len(b))
print(len(c))

6
7
10

In [40]:
# 인덱싱(indexing) : 원하는 문자에 접근할 수 있는 방법을 제공
a = "Life is too short, You need python"

print(a[3])
print(a[10])

print(len(a)-1)#마지막 위치
print(a[33])

print(a[-1])#뒤에서부터 셀 수 있음
print(a[-2])

e
o
33
n
n
o

In [49]:
# 슬라이싱(Slicing) : [시작위치 : 끝위치 : 간격]

print(a[0:6])
print(a[:6])#처음부터 6번째까지
print(a[6:])#6번째부터 마지막까지
print(a[:])#전체 다
print(a[19:-7])#역순으로도 가능
print("----------------------------------------")
print(a[0:6:1])
print(a[0:6:2])
print(a[::1])#print(a[:])와 같은 의미
print(a[::-1])

Life i
Life i
s too short, You need python
Life is too short, You need python
You need
----------------------------------------
Life i
Lf
Life is too short, You need python
nohtyp deen uoY ,trohs oot si efiL

In [51]:
# 수정 불가
a="pithon"

#a[1]='y'

#a='python'
a[:1]+'y'+a[2:]

'python'

In [65]:
##### 문자열 관련 함수

# count() : 특정 문자가 포함된 갯수를 찾는 함수
str1 = '홍길동, 홍경래, 홍장군, 임경업, 신돌석'
print(len(str1))
print(str1.count("홍"))#홍이라는 글자가 몇개인지 찾는거
print("--------------------------------")

#join()
str1="abcdefg"
print(",".join(str1))
print("--------------------------------")

# split()
str1 = '홍길동, 홍경래, 홍장군, 임경업, 신돌석'
str1.split(',')
print("--------------------------------")

# find(), index()
a="Python is the best choice"
a.find('b')
b="Life is too short"
b.index('f')
# lstrip(), rstrip(), strip()

# replace()

23
3
--------------------------------
a,b,c,d,e,f,g
--------------------------------
--------------------------------

2

In [5]:
##### 문자열 포매팅 #####

### % 를 이용한 방법
print("현재 온도는 18도입니다.")
print("현재 온도는 %d도입니다. 그리고 오늘의 날씨는 %s" % (20,"화창합니다"))  

# 나눗셈 결과 3/5 = 0.6 입니다.
print("나눗셈 결과 : %d %c %d = %0.1f입니다." %(3,'/',5,3/5))


### format()을 이용한 방법
print("{} 결과 : {} {} {} = {} 입니다.".format('나눗셈',3,'/',5,3/5))
print("{3} 결과 : {0} {1} {2} = {4} 입니다.".format(3,'/',5,'나눗셈',3/5))
print("{title} 결과 : {num1} {op} {num2} = {result} 입니다.".format(title="나눗셈", 
                                                               num1=3, op="/", num2=5, result=3/5))
print("{3:*^10} 결과 : {0} {1} {2} = {4:5.2f} 입니다.".format(3,"/",5,"나눗셈",3/5))

현재 온도는 18도입니다.
현재 온도는 20도입니다. 그리고 오늘의 날씨는 화창합니다
나눗셈 결과 : 3 / 5 = 0.6입니다.
나눗셈 결과 : 3 / 5 = 0.6 입니다.
나눗셈 결과 : 3 / 5 = 0.6 입니다.
나눗셈 결과 : 3 / 5 = 0.6 입니다.
***나눗셈**** 결과 : 3 / 5 =  0.60 입니다.

### (2) bool

In [3]:
print(bool(10),bool(3.14),bool(-2),bool(0))
print(bool('가'), bool('가나다'),bool(''),bool(' '),bool(None))

True True True False
True True False True False

### (3) list

- "[ ]" 사용
- 임의의 객체를 순차적으로 저장하는 집합적 자료형(Sequence Data)
- 인덱스 사용
- mutable(변경가능)

In [6]:
#a = 10
#b = 11
#c = 12

a, b, c = 10, 11, 12

d = [10, 11, 12]

print(type(a), type(d))
print(a,d)
print(d[0],d[1],d[2])

e = ["james", 178, 3.14, True]
print(e)
e[1]=180 #값 변경 가능
print(e)

<class 'int'> <class 'list'>
10 [10, 11, 12]
10 11 12
['james', 178, 3.14, True]
['james', 180, 3.14, True]

In [21]:
# indexing

a = [1, 2, 3, "가", 3.14, ["a","b","c"]]
print(a[5])
print(a[5][0])
print(a[-1][-2])

['a', 'b', 'c']
a
b

In [10]:
# 복사(얕은 복사, 깊은 복사)

a = [1, 2, 3, 4, 5]
b = a
b[0] = 10
print(a)

print("-------------------------------------")
b=a[0:5]
b[0]=10
print(a)

[10, 2, 3, 4, 5]
-------------------------------------
[10, 2, 3, 4, 5]

In [31]:
#### list 생성 

a=[]
a=list()

print(type(a))

print("--------------------------")

# 초기화
a = list([0,1,2,3])
print(a)

a=list(range(10)) #10개의 데이터를 순서대로 만들겠다는 의미(반복문)
# range(0,10), range(0,10,1)
print(a)

a=list(range(5,12))
print(a)

a=list(range(5,12,2))
print(a)

a=list(range(-4,12,1))
print(a)

# 10 9 8 7 6 5 4 3 2 1 이 출력되게 작성
a=list(range(10,0,-1))
print(a)

<class 'list'>
--------------------------
[0, 1, 2, 3]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[5, 6, 7, 8, 9, 10, 11]
[5, 7, 9, 11]
[-4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [39]:
####  각 자료형 함수

a="10"

print(type(a), type(int(a)))

a=int(a)
print(type(a),type(str(a)))

print(type(float(a)),float(a))

print(type(bool(a)), bool(a))

a="10"  #a를 bool로 바꿨었기 때문에 다시
print(type(list(a)), list(a))

<class 'str'> <class 'int'>
<class 'int'> <class 'str'>
<class 'float'> 10.0
<class 'bool'> True
<class 'list'> ['1', '0']

In [40]:
#### 연산 가능
a=[1,2,3]
b=[4,5,6]

print(a + b)
print(a * 3)
print(str(a[1])+"hi")

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
2hi

In [47]:
##### 추가하기 : insert(), append(), extend()

a = [1,2,3]

a.insert(1,1.5) #1번째 위치에 1.5를 넣어준다
print(a)

a.extend([4]) #extend로 넣어줄때는 리스트처럼 []안에 넣어줘야 한다
print(a)

a.extend([5,6])
print(a)

a.append(7)
print(a)

a.append([8,9])#append는 list로 넣어주면 list 자체가 하나의 데이터로 뽑아온다
print(a)

# extend는 말그대로 확장, append는 추가

[1, 1.5, 2, 3]
[1, 1.5, 2, 3, 4]
[1, 1.5, 2, 3, 4, 5, 6]
[1, 1.5, 2, 3, 4, 5, 6, 7]
[1, 1.5, 2, 3, 4, 5, 6, 7, [8, 9]]

In [49]:
##### 정렬

a = [1,4,3,2]
a.sort()  #작은 순서대로 정렬
print(a)

#내림차순 하려면 먼저 오름차순으로 정렬하고 역순으로 바꿔야 한다
a.reverse()#역순
print(a)

[1, 2, 3, 4]
[4, 3, 2, 1]

In [53]:
a=[1,4,3,2]
print(sorted(a))
print(a)  #(shorted()) 차이 : 원본은 바뀌지 않는다

a=sorted(a)
print(a)

[1, 2, 3, 4]
[1, 4, 3, 2]
[1, 2, 3, 4]

In [61]:
##### 제거

# 범위를 지정해서 삭제
a=[1,2,3,1,2,3]
a[1:3]=[] #1위치부터 3위치까지 삭제(2,3을 삭제)
print(a)

# 값을 찾아서 삭제
a=[1,2,3,1,2,3]
a.remove(3)#첫번째로 검색되는 3을 삭제한다
print(a)

#위치를 지정해서 삭제
a=[1,2,3,1,2,3]
del a[4] #4번째 위치 삭제
print(a)

a=[1,2,3,1,2,3]
del a[1:3]
print(a)

#stack
a=[1,2,3]
b=a.pop() #a리스트의 맨 마지막 요소를 돌려주고 그 요소는 삭제
print(a,b)

[1, 1, 2, 3]
[1, 2, 1, 2, 3]
[1, 2, 3, 1, 3]
[1, 1, 2, 3]
[1, 2] 3

In [66]:
##### 검색 : index(), find()
a=[1,2,3,4,5]

print(a.index(4))#위치를 출력해준다
#print(a.index(7))#없는것을 검색하면 에러 발생

print(4 in a)
print(7 in a)

3
True
False

### (4)tuple

#레코드와 tuple은 같은 말(서로 다른 속성을 하나로 묶어줌)
+ ( ) 사용
+ immutable

In [68]:
a=('a','b','c','d')
print(a)
print(type(a))
print(len(a))
print(a.count('c'))
print(a.index('b'))

('a', 'b', 'c', 'd')
<class 'tuple'>
4
1
1

In [71]:
#a[1]=10 #tuple은 수정 불가

#수정하려면 list로 바꿔서 수정하고 다시 tuple로 바꾸기
b=list(a)
b[1]=10
print(b)

c=tuple(b)
print(c)

['a', 10, 'c', 'd']
('a', 10, 'c', 'd')

In [73]:
#### Packing & Unpacking

a=10,20,30 # packing
print(a)

a1,a2,a3 =a #unpacking
print(a1,a2,a3)

(10, 20, 30)
10 20 30

### (5) dict

+ 순서가 없다(순차적으로 저장되어있지 않음)
+ 키를 이용해서 접근
+ {키:값}
+ 검색을 위한 용도로 사용한다

In [74]:
a = {"name":"홍길동","tel":"111-1111","age":20}
print(a)
print(type(a))

{'name': '홍길동', 'tel': '111-1111', 'age': 20}
<class 'dict'>

In [75]:
print(a["name"],a["tel"],a["age"])

홍길동 111-1111 20

In [76]:
print(a.keys())
print(a.values())
print(a.items())

dict_keys(['name', 'tel', 'age'])
dict_values(['홍길동', '111-1111', 20])
dict_items([('name', '홍길동'), ('tel', '111-1111'), ('age', 20)])

In [77]:
# 수정

a["name"]="임꺽정"
print(a)

{'name': '임꺽정', 'tel': '111-1111', 'age': 20}

In [78]:
# 추가
a["hobbies"]=["낚시","여행"]
print(a)

{'name': '임꺽정', 'tel': '111-1111', 'age': 20, 'hobbies': ['낚시', '여행']}

In [79]:
# 삭제
del a["tel"]
print(a)

{'name': '임꺽정', 'age': 20, 'hobbies': ['낚시', '여행']}

In [80]:
a.clear()
print(a)

{}

In [82]:
# 데이터 가져오기 : get("키",defult)
a={"name":"홍길동","tel":"111-111","age":20}

print(a["name"])
print(a.get("name"))

#print(a.get("hobby"))#에러는 안나지만 null값이 나옴

print(a.get("hobby","독서"))

홍길동
홍길동
독서

### (6) set

+ { } 사용
+ 순서가 없다
+ 중복 불가

In [84]:
a={1,2,3,4,2,4}
print(a)
print(type(a))

{1, 2, 3, 4}
<class 'set'>

In [85]:
#print(a[0])  #이렇게는 출력이 안됨

#tuple이나 list로 바꿔서 출력 해야함
b=list(a)
b[0]

1

In [86]:
a=[1,2,3,4,4,5,2]
print(a)

#중복된 데이터 빼고 하나씩만 가져오고싶을 때
a=set(a)
print(a)

a=list(a)
print(a)

[1, 2, 3, 4, 4, 5, 2]
{1, 2, 3, 4, 5}
[1, 2, 3, 4, 5]

## 연산자

1. 산술연산자 : +, -, *, /, %, //(몫), **(거듭제곱)
<br> 자바처럼 증가, 감소 연산자는 없음

2. 논리 연산자 : and or not

3. 비교 연산자 : >, >=, <, <=, ==, !=

4. 대입 연산자 : =, +=, -=, /=, *= ...

5. 포함 여부 연산자 : in, not in

6. 비트 연산자 : &, |, ^, ~, >>, << ...