In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import matplotlib.font_manager as fm
font_name = fm.FontProperties(fname="C:\\Windows\\Fonts\\malgun.ttf").get_name()
plt.rc("font", family=font_name)

import matplotlib as mlp
mlp.rcParams["axes.unicode_minus"] = False

import seaborn as sns

# 주제 : 서울시 구별 범죄 현황 분석

+ CCTV와 범죄, 검거율에 관계가 있는가?
+ 강남3구는 과연 범죄율이 낮고 검거율이 높은가?

+ https://truman.tistory.com/210?category=833561

## 1. Data Prepare

+ https://www.data.go.kr
+ 구글에서 "서울시 관서별 5대범죄 발생 검거 현황" 검색

In [2]:
crime_anal_police=pd.read_csv("data/seoul/crime_in_seoul.csv", encoding="euc-kr", thousands=",")
#천단위에 ,가 찍혀있는것을 숫자로 읽어오라는 의미
crime_anal_police.head()

    관서명  살인 발생  살인 검거  강도 발생  강도 검거  강간 발생  강간 검거  절도 발생  절도 검거  폭력 발생  폭력 검거
0   중부서      2      2      3      2    105     65   1395    477   1355   1170
1   종로서      3      3      6      5    115     98   1070    413   1278   1070
2  남대문서      1      0      6      4     65     46   1153    382    869    794
3  서대문서      2      2      5      4    154    124   1812    738   2056   1711
4   혜화서      3      2      5      4     96     63   1114    424   1015    861

In [4]:
crime_anal_police.info()
#절도 발생, 절도 검거 등의 단위에 ,가 들어가서 숫자로 읽어오지 못하고 문자(object)로 읽어온다
#따라서 불러올 때 thousands="," 를 작성하면 숫자로 읽어옴

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   관서명     31 non-null     object
 1   살인 발생   31 non-null     int64
 2   살인 검거   31 non-null     int64
 3   강도 발생   31 non-null     int64
 4   강도 검거   31 non-null     int64
 5   강간 발생   31 non-null     int64
 6   강간 검거   31 non-null     int64
 7   절도 발생   31 non-null     int64
 8   절도 검거   31 non-null     int64
 9   폭력 발생   31 non-null     int64
 10  폭력 검거   31 non-null     int64
dtypes: int64(10), object(1)
memory usage: 2.8+ KB

# 2. EDA & Preprocessing

### 2-1. 관서명을 구 이름으로 변경

+ https://ko.wikipedia.org/wiki/서울특별시지방경찰청


+ GoogleMap API를 이용하여 주소 획득(해외주소일 경우 사용, 유료)
    - https://cloud.google.com
    - pip install googlemaps
    

+ Kakao API를 이요하여 주소 획득(국내 주소일 경우)
    - https://developer.kakao.com
    - https://kauth.kakao.com/oauth/authorize?client_id=api키복사하기&redirect_uri=http://localhost:8888&response_type=code

#### 2-1-1. 카카오 API를 이용하는 방법

In [5]:
"""
https://kauth.kakao.com/oauth/authorize?client_id=c5e7aca4b4d7f877476cd85bbf098bb3&redirect_uri=http://localhost:8888&response_type=code
"""

'\nhttps://kauth.kakao.com/oauth/authorize?client_id=c5e7aca4b4d7f877476cd85bbf098bb3&redirect_uri=http://localhost:8888&response_type=code\n'

In [6]:
# 서버에 요청을 보낼 때 사용하는 모듈
import requests

header = {"Authorization" : "KakaoAK c5e7aca4b4d7f877476cd85bbf098bb3"}
url = 'https://dapi.kakao.com/v2/local/search/keyword.json?query={}'.format("서울중부경찰서")

#requests.get(url, headers=header).json()["documents"][0]["address_name"]
requests.get(url, headers=header).json()

{'documents': [{'address_name': '서울 중구 저동2가 62-1',
   'category_group_code': 'PO3',
   'category_group_name': '공공기관',
   'category_name': '사회,공공기관 > 행정기관 > 경찰서',
   'distance': '',
   'id': '11151738',
   'phone': '',
   'place_name': '서울중부경찰서',
   'place_url': 'http://place.map.kakao.com/11151738',
   'road_address_name': '서울 중구 수표로 27',
   'x': '126.98958691395208',
   'y': '37.56361812722828'},
  {'address_name': '서울 중구 저동2가 62-1',
   'category_group_code': 'CT1',
   'category_group_name': '문화시설',
   'category_name': '문화,예술 > 문화시설 > 박물관',
   'distance': '',
   'id': '27184424',
   'phone': '',
   'place_name': '서울중부경찰서 역사박물관',
   'place_url': 'http://place.map.kakao.com/27184424',
   'road_address_name': '서울 중구 수표로 27',
   'x': '126.989582377239',
   'y': '37.5636848005606'},
  {'address_name': '서울 중구 저동2가 62-1',
   'category_group_code': '',
   'category_group_name': '',
   'category_name': '사회,공공기관 > 행정기관부속시설',
   'distance': '',
   'id': '10795753',
   'phone': '',
   'place_name': '중부경찰서 민원봉사실',
   'place_url': 'http://place.map.kakao.com/10795753',
   'road_address_name': '서울 중구 수표로 27',
   'x': '126.990026067084',
   'y': '37.5636740269204'},
  {'address_name': '서울 중구 저동2가',
   'category_group_code': '',
   'category_group_name': '',
   'category_name': '교통,수송 > 도로시설 > 교차로',
   'distance': '',
   'id': '15135568',
   'phone': '',
   'place_name': '중부경찰서앞교차로',
   'place_url': 'http://place.map.kakao.com/15135568',
   'road_address_name': '',
   'x': '126.989989697171',
   'y': '37.5647984672211'},
  {'address_name': '서울 중구 저동2가 62-1',
   'category_group_code': 'BK9',
   'category_group_name': '은행',
   'category_name': '금융,보험 > 금융서비스 > 은행 > ATM',
   'distance': '',
   'id': '616192118',
   'phone': '',
   'place_name': '신한은행 365코너 서울중부경찰서',
   'place_url': 'http://place.map.kakao.com/616192118',
   'road_address_name': '서울 중구 수표로 27',
   'x': '126.990044180649',
   'y': '37.5636451965649'}],
 'meta': {'is_end': True,
  'pageable_count': 5,
  'same_name': {'keyword': '서울중부경찰서', 'region': [], 'selected_region': ''},
  'total_count': 5}}

In [7]:
# 관서명을 서울***경찰서로 변경

station_name=[]
for name in crime_anal_police['관서명']:
    station_name.append("서울"+str(name[:-1])+"경찰서")
    
station_name

['서울중부경찰서',
 '서울종로경찰서',
 '서울남대문경찰서',
 '서울서대문경찰서',
 '서울혜화경찰서',
 '서울용산경찰서',
 '서울성북경찰서',
 '서울동대문경찰서',
 '서울마포경찰서',
 '서울영등포경찰서',
 '서울성동경찰서',
 '서울동작경찰서',
 '서울광진경찰서',
 '서울서부경찰서',
 '서울강북경찰서',
 '서울금천경찰서',
 '서울중랑경찰서',
 '서울강남경찰서',
 '서울관악경찰서',
 '서울강서경찰서',
 '서울강동경찰서',
 '서울종암경찰서',
 '서울구로경찰서',
 '서울서초경찰서',
 '서울양천경찰서',
 '서울송파경찰서',
 '서울노원경찰서',
 '서울방배경찰서',
 '서울은평경찰서',
 '서울도봉경찰서',
 '서울수서경찰서']

In [8]:
station_address=[]
station_lat=[]
station_lng=[]

for name in station_name:
    url = "https://dapi.kakao.com/v2/local/search/keyword.json?query={}".format(name)
    place = requests.get(url, headers=header).json()["documents"]
    
    station_address.append(place[0].get("address_name"))
    station_lat.append(place[0].get("y"))#위도
    station_lng.append(place[0].get("x"))#경도
    
    print(name + "---->" + place[0].get("address_name"))

서울중부경찰서---->서울 중구 저동2가 62-1
서울종로경찰서---->서울 종로구 경운동 90-18
서울남대문경찰서---->서울 중구 남대문로5가 567
서울서대문경찰서---->서울 서대문구 미근동 165
서울혜화경찰서---->서울 종로구 인의동 48-57
서울용산경찰서---->서울 용산구 원효로1가 12-12
서울성북경찰서---->서울 성북구 삼선동5가 301
서울동대문경찰서---->서울 동대문구 청량리동 229
서울마포경찰서---->서울 마포구 아현동 618-1
서울영등포경찰서---->서울 영등포구 당산동3가 2-11
서울성동경찰서---->서울 성동구 행당동 192-8
서울동작경찰서---->서울 동작구 노량진동 72-35
서울광진경찰서---->서울 광진구 구의동 254-32
서울서부경찰서---->서울 은평구 녹번동 177-15
서울강북경찰서---->서울 강북구 번동 415-15
서울금천경찰서---->서울 금천구 시흥동 1030
서울중랑경찰서---->서울 중랑구 신내동 810
서울강남경찰서---->서울 강남구 대치동 998
서울관악경찰서---->서울 관악구 봉천동 1695-5
서울강서경찰서---->서울 강서구 화곡동 980-27
서울강동경찰서---->서울 강동구 성내동 541-1
서울종암경찰서---->서울 성북구 하월곡동 27-5
서울구로경찰서---->서울 구로구 구로동 436
서울서초경찰서---->서울 서초구 서초동 1726-1
서울양천경찰서---->서울 양천구 신정동 321
서울송파경찰서---->서울 송파구 가락동 9
서울노원경찰서---->서울 노원구 하계동 250
서울방배경찰서---->서울 서초구 방배동 455-10
서울은평경찰서---->서울 은평구 불광동 산 24
서울도봉경찰서---->서울 도봉구 창동 17
서울수서경찰서---->서울 강남구 개포동 14

In [9]:
# 받은 주소에서 구 이름만 추출

df=pd.DataFrame([station_address, station_lat, station_lng]).T
df.columns=['구별','위도','경도']
df['구별']=df['구별'].str.split(" ").str[1]
df

      구별                  위도                  경도
0     중구   37.56361812722828  126.98958691395208
1    종로구   37.57553779077874  126.98489861889408
2     중구   37.55478043476484  126.97349729923079
3   서대문구    37.5649023404956    126.966790740735
4    종로구    37.5718915247338    126.998935936567
5    용산구   37.54117933635974  126.96777437089538
6    성북구   37.58989767143614  127.01625465308534
7   동대문구    37.5850804205685    127.045762797538
8    마포구    37.5510118582052     126.95394117396
9   영등포구      37.52585220719     126.90094457988
10   성동구    37.5617947420747    127.036472076258
11   동작구    37.5131469479959    126.942857105642
12   광진구   37.54292164557882  127.08396170505674
13   은평구   37.60215667958602  126.92131688777927
14   강북구  37.637406561393085  127.02733870040592
15   금천구   37.45725314643252  126.89674921449215
16   중랑구    37.6182390801576     127.10454224897
17   강남구    37.5093899463715    127.067070541137
18   관악구    37.4745875338795    126.951062346192
19   강서구    37.5513470867979    126.849886071842
20   강동구   37.52867274661258  127.12688982770433
21   성북구   37.60369695931278  127.04012320361741
22   구로구    37.4948844667899    126.886660285169
23   서초구   37.49561086789221  127.00528097622329
24   양천구    37.5165549067037    126.865542970902
25   송파구    37.5019757297179  127.12716129352492
26   노원구    37.6423345266253    127.071404832413
27   서초구   37.48155944749938  126.98300906928465
28   은평구    37.6285242467996    126.928631038584
29   도봉구   37.65339041848567  127.05270598499145
30   강남구    37.4934972653425    127.077143044327

In [10]:
df['구별'].str.split(" ")

0       [중구]
1      [종로구]
2       [중구]
3     [서대문구]
4      [종로구]
5      [용산구]
6      [성북구]
7     [동대문구]
8      [마포구]
9     [영등포구]
10     [성동구]
11     [동작구]
12     [광진구]
13     [은평구]
14     [강북구]
15     [금천구]
16     [중랑구]
17     [강남구]
18     [관악구]
19     [강서구]
20     [강동구]
21     [성북구]
22     [구로구]
23     [서초구]
24     [양천구]
25     [송파구]
26     [노원구]
27     [서초구]
28     [은평구]
29     [도봉구]
30     [강남구]
Name: 구별, dtype: object

#### 2-1-1 Google API를 이용한 방법

In [12]:
import googlemaps

gmaps_key = "AIzaSyDYnzF5eEiXPGfalXgDAP3DqWHOxFfQ2BI"

gmaps=googlemaps.Client(key=gmaps_key)
gmaps

gmaps.geocode("서울중부경찰서", language="ko")

[{'address_components': [{'long_name': '２７',
    'short_name': '２７',
    'types': ['premise']},
   {'long_name': '수표로',
    'short_name': '수표로',
    'types': ['political', 'sublocality', 'sublocality_level_4']},
   {'long_name': '중구',
    'short_name': '중구',
    'types': ['political', 'sublocality', 'sublocality_level_1']},
   {'long_name': '서울특별시',
    'short_name': '서울특별시',
    'types': ['administrative_area_level_1', 'political']},
   {'long_name': '대한민국',
    'short_name': 'KR',
    'types': ['country', 'political']},
   {'long_name': '100-032',
    'short_name': '100-032',
    'types': ['postal_code']}],
  'formatted_address': '대한민국 서울특별시 중구 수표로 27',
  'geometry': {'location': {'lat': 37.56361709999999, 'lng': 126.9896517},
   'location_type': 'ROOFTOP',
   'viewport': {'northeast': {'lat': 37.5649660802915,
     'lng': 126.9910006802915},
    'southwest': {'lat': 37.5622681197085, 'lng': 126.9883027197085}}},
  'partial_match': True,
  'place_id': 'ChIJc-9q5uSifDURLhQmr5wkXmc',
  'plus_code': {'compound_code': 'HX7Q+CV 대한민국 서울특별시',
   'global_code': '8Q98HX7Q+CV'},
  'types': ['establishment', 'point_of_interest', 'police']}]

In [13]:
##### 관서명을 서울***경찰서로 변경

station_name=[]
for name in crime_anal_police['관서명']:
    station_name.append("서울" + str(name[:-1])+"경찰서")
    
station_name

['서울중부경찰서',
 '서울종로경찰서',
 '서울남대문경찰서',
 '서울서대문경찰서',
 '서울혜화경찰서',
 '서울용산경찰서',
 '서울성북경찰서',
 '서울동대문경찰서',
 '서울마포경찰서',
 '서울영등포경찰서',
 '서울성동경찰서',
 '서울동작경찰서',
 '서울광진경찰서',
 '서울서부경찰서',
 '서울강북경찰서',
 '서울금천경찰서',
 '서울중랑경찰서',
 '서울강남경찰서',
 '서울관악경찰서',
 '서울강서경찰서',
 '서울강동경찰서',
 '서울종암경찰서',
 '서울구로경찰서',
 '서울서초경찰서',
 '서울양천경찰서',
 '서울송파경찰서',
 '서울노원경찰서',
 '서울방배경찰서',
 '서울은평경찰서',
 '서울도봉경찰서',
 '서울수서경찰서']

In [14]:
station_address = []
station_lat = []
station_lng = []

for name in station_name:
    tmp = gmaps.geocode(name, language="ko")
    station_address.append(tmp[0].get("formatted_address"))
    
    tmp_loc=tmp[0].get("geometry")
    station_lat.append(tmp_loc['location']['lat'])#위도
    station_lng.append(tmp_loc['location']['lng'])#경도
    
    print(name + "---->" + tmp[0].get("formatted_address"))

서울중부경찰서---->대한민국 서울특별시 중구 수표로 27
서울종로경찰서---->대한민국 서울특별시 종로구 종로1.2.3.4가동 율곡로 46
서울남대문경찰서---->대한민국 서울특별시 중구 한강대로 410
서울서대문경찰서---->대한민국 서울특별시 서대문구 통일로 113
서울혜화경찰서---->대한민국 서울특별시 종로구 인의동 창경궁로 112-16
서울용산경찰서---->대한민국 서울특별시 용산구 백범로 329
서울성북경찰서---->대한민국 서울특별시 성북구 삼선동 보문로 170
서울동대문경찰서---->대한민국 서울특별시 동대문구 약령시로21길 29
서울마포경찰서---->대한민국 서울특별시 마포구 마포대로 183
서울영등포경찰서---->대한민국 서울특별시 영등포구 르노삼성정비소옆철도청임시구역
서울성동경찰서---->대한민국 서울특별시 성동구 행당동 왕십리광장로 9
서울동작경찰서---->대한민국 서울특별시 동작구 노량진로 148
서울광진경찰서---->대한민국 서울특별시 광진구 구의동 자양로 167
서울서부경찰서---->대한민국 서울특별시 은평구 녹번동 177-15
서울강북경찰서---->대한민국 서울특별시 강북구 오패산로 406
서울금천경찰서---->대한민국 서울특별시 금천구 시흥대로73길 50
서울중랑경찰서---->대한민국 서울특별시 중랑구 묵2동 249-2
서울강남경찰서---->대한민국 서울특별시 강남구 테헤란로114길 11
서울관악경찰서---->대한민국 서울특별시 관악구 관악로5길 33
서울강서경찰서---->대한민국 서울특별시 강서구 화곡6동 980-27
서울강동경찰서---->대한민국 서울특별시 강동구 성내로 57
서울종암경찰서---->대한민국 서울특별시 성북구 종암로 135
서울구로경찰서---->대한민국 서울특별시 구로구 가마산로 235
서울서초경찰서---->대한민국 서울특별시 서초구 서초3동 반포대로 179
서울양천경찰서---->대한민국 서울특별시 양천구 목동동로 99
서울송파경찰서---->대한민국 서울특별시 송파구 중대로 221
서울노원경찰서---->대한민국 서울특별시 노원구 하계동 노원로 283
서울방배경찰서---->대한민국 서울특별시 서초구 동작대로 204
서울은평경찰서---->대한민국 서울특별시 은평구 불광동 연서로 365
서울도봉경찰서---->대한민국 서울특별시 도봉구 노해로 403
서울수서경찰서---->대한민국 서울특별시 강남구 개포로 617

In [15]:
##### 받은 주소에서 구 이름만 추출

df=pd.DataFrame([station_address, station_lat, station_lng]).T
df.columns=['구별','위도','경도']
df['구별']=df['구별'].str.split(" ").str[2]
df

      구별         위도          경도
0     중구  37.563617  126.989652
1    종로구  37.575548  126.984747
2     중구  37.554758  126.973498
3   서대문구  37.564744   126.96677
4    종로구  37.571968  126.998957
5    용산구   37.53871  126.965918
6    성북구  37.589778  127.016589
7   동대문구  37.585061  127.045768
8    마포구  37.550814  126.954028
9   영등포구  37.519071  126.928351
10   성동구   37.56173  127.036422
11   동작구  37.513087   126.94285
12   광진구  37.542873  127.083821
13   은평구   37.60214  126.921307
14   강북구  37.637304   127.02734
15   금천구  37.456872  126.897043
16   중랑구  37.605643  127.076487
17   강남구  37.509435  127.066958
18   관악구  37.474395  126.951349
19   강서구  37.551284  126.850038
20   강동구  37.528511  127.126822
21   성북구  37.602059  127.032158
22   구로구  37.494931  126.886731
23   서초구  37.495605   127.00525
24   양천구  37.516771    126.8657
25   송파구  37.501694  127.127248
26   노원구  37.642524  127.071708
27   서초구  37.494596  126.983128
28   은평구  37.628318  126.928704
29   도봉구  37.653359  127.052682
30   강남구   37.49349  127.077212

In [16]:
crime_anal_police["구별"]=df["구별"]
crime_anal_police["위도"]=df["위도"]
crime_anal_police["경도"]=df["경도"]

crime_anal_police.head()

,관서명,살인 발생,살인 검거,강도 발생,강도 검거,강간 발생,강간 검거,절도 발생,절도 검거,폭력 발생,폭력 검거,구별,위도,경도
0,중부서,2,2,3,2,105,65,1395,477,1355,1170,중구,37.563617,126.989652
1,종로서,3,3,6,5,115,98,1070,413,1278,1070,종로구,37.575548,126.984747
2,남대문서,1,0,6,4,65,46,1153,382,869,794,중구,37.554758,126.973498
3,서대문서,2,2,5,4,154,124,1812,738,2056,1711,서대문구,37.564744,126.96677
4,혜화서,3,2,5,4,96,63,1114,424,1015,861,종로구,37.571968,126.998957

### 2-2. Checkpoint

In [17]:
crime_anal_police.to_csv("data/seoul/crime_in_seoul_include_gu.csv", encoding="utf-8")

In [18]:
crime_anal_raw=pd.read_csv("data/seoul/crime_in_seoul_include_gu.csv", index_col=0)
#index_col=0 : 불러올 때 인덱스 새로 생기는거 방지(그전에 사용했던거 그대로 사용)
crime_anal_raw.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31 entries, 0 to 30
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   관서명     31 non-null     object
 1   살인 발생   31 non-null     int64
 2   살인 검거   31 non-null     int64
 3   강도 발생   31 non-null     int64
 4   강도 검거   31 non-null     int64
 5   강간 발생   31 non-null     int64
 6   강간 검거   31 non-null     int64
 7   절도 발생   31 non-null     int64
 8   절도 검거   31 non-null     int64
 9   폭력 발생   31 non-null     int64
 10  폭력 검거   31 non-null     int64
 11  구별      31 non-null     object
 12  위도      31 non-null     float64
 13  경도      31 non-null     float64
dtypes: float64(2), int64(10), object(2)
memory usage: 3.6+ KB

### 2-3. 관서명을 삭제하고 구별을 인덱스로 결정

In [19]:
crime_anal=pd.pivot_table(crime_anal_raw, index="구별", aggfunc="sum")
#숫자들만 합계가 됨, 같은 구의 위도 경도로 합쳐져 버린다
del crime_anal['위도']#따라서 위도, 경도 삭제(나중에 다시 추가 예정)
del crime_anal["경도"]
crime_anal.head()

     강간 검거  강간 발생  강도 검거  강도 발생  살인 검거  살인 발생  절도 검거  절도 발생  폭력 검거  폭력 발생
구별
강남구    349    449     18     21     10     13   1650   3850   3705   4284
강동구    123    156      8      6      3      4    789   2366   2248   2712
강북구    126    153     13     14      8      7    618   1434   2348   2649
강서구    191    262     13     13      8      7   1260   2096   2718   3207
관악구    221    320     14     12      8      9    827   2706   2642   3298

### 2-4. 각 범죄별 검거율을 계산하여 파생변수로 추가하고, 각 검거 컬럼은 삭제

In [20]:
crime_anal["강간검거율"]=crime_anal["강간 검거"]/crime_anal["강간 발생"]*100
crime_anal["강도검거율"]=crime_anal["강도 검거"]/crime_anal["강도 발생"]*100
crime_anal["살인검거율"]=crime_anal["살인 검거"]/crime_anal["살인 발생"]*100
crime_anal["절도검거율"]=crime_anal["절도 검거"]/crime_anal["절도 발생"]*100
crime_anal["폭력검거율"]=crime_anal["폭력 검거"]/crime_anal["폭력 발생"]*100

del crime_anal['강간 검거']
del crime_anal["강도 검거"]
del crime_anal['살인 검거']
del crime_anal['절도 검거']
del crime_anal['폭력 검거']

In [21]:
crime_anal.head()

,강간 발생,강도 발생,살인 발생,절도 발생,폭력 발생,강간검거율,강도검거율,살인검거율,절도검거율,폭력검거율
구별,,,,,,,,,,
강남구,449,21,13,3850,4284,77.728285,85.714286,76.923077,42.857143,86.484594
강동구,156,6,4,2366,2712,78.846154,133.333333,75.000000,33.347422,82.890855
강북구,153,14,7,1434,2649,82.352941,92.857143,114.285714,43.096234,88.637222
강서구,262,13,7,2096,3207,72.900763,100.000000,114.285714,60.114504,84.752105
관악구,320,12,9,2706,3298,69.062500,116.666667,88.888889,30.561715,80.109157

In [22]:
##### "발생"이라는 단어는 삭제(컬럼 변경)

crime_anal.rename(columns={"강간 발생":"강간", "강도 발생":"강도", "살인 발생":"살인", 
                           "절도 발생":"절도", "폭력 발생":"폭력"}, inplace=True)
crime_anal.head()

,강간,강도,살인,절도,폭력,강간검거율,강도검거율,살인검거율,절도검거율,폭력검거율
구별,,,,,,,,,,
강남구,449,21,13,3850,4284,77.728285,85.714286,76.923077,42.857143,86.484594
강동구,156,6,4,2366,2712,78.846154,133.333333,75.000000,33.347422,82.890855
강북구,153,14,7,1434,2649,82.352941,92.857143,114.285714,43.096234,88.637222
강서구,262,13,7,2096,3207,72.900763,100.000000,114.285714,60.114504,84.752105
관악구,320,12,9,2706,3298,69.062500,116.666667,88.888889,30.561715,80.109157

In [24]:
# 검거율에서 100이 넘는 값들은 모두 100으로 맞춰준다

for col in ['강간검거율','강도검거율','살인검거율','절도검거율','폭력검거율']:
    crime_anal.loc[crime_anal[col]>100, col]=100
    
crime_anal.head()

,강간,강도,살인,절도,폭력,강간검거율,강도검거율,살인검거율,절도검거율,폭력검거율
구별,,,,,,,,,,
강남구,449,21,13,3850,4284,77.728285,85.714286,76.923077,42.857143,86.484594
강동구,156,6,4,2366,2712,78.846154,100.000000,75.000000,33.347422,82.890855
강북구,153,14,7,1434,2649,82.352941,92.857143,100.000000,43.096234,88.637222
강서구,262,13,7,2096,3207,72.900763,100.000000,100.000000,60.114504,84.752105
관악구,320,12,9,2706,3298,69.062500,100.000000,88.888889,30.561715,80.109157

### 2-5. 정규화/표준화 : 수치 데이터에 대한 scaling

+ 정규화(Normalization)
    - 데이터의 상대적인 크기에 대해 영향을 줄이기 위해 데이터 범위를 0~1로 변환
    - (측정값-최소값) / (최대값 - 최소값)


+ 표준화(Standardization)
    - 데이터가 평균으로부터 얼마나 떨어져 있는지 나타내는 값으로 특정 범위를 벗어난 데이터는 이상치로 간주
    - (측정값-평균) / 표준편차

In [27]:
# Normalization

from sklearn import preprocessing 
#sklearn : 머신러닝에서 사용하는 모듈, preprocessing : 여러가지 전처리를 위한 함

min_max_scaler=preprocessing.MinMaxScaler()

cols=['강간','강도','살인','절도','폭력']
X =crime_anal[cols].values
X

X_scaled = min_max_scaler.fit_transform(X)
X_scaled

crime_anal_norm = pd.DataFrame(X_scaled, columns=cols, index=crime_anal.index)
crime_anal_norm

cols2=['강간검거율','강도검거율','살인검거율','절도검거율','폭력검거율']
crime_anal_norm[cols2] = crime_anal[cols2]#컬럼이 자동 생성된다
crime_anal_norm.head()

,강간,강도,살인,절도,폭력,강간검거율,강도검거율,살인검거율,절도검거율,폭력검거율
구별,,,,,,,,,,
강남구,1.000000,0.941176,0.916667,1.000000,1.000000,77.728285,85.714286,76.923077,42.857143,86.484594
강동구,0.155620,0.058824,0.166667,0.467528,0.437969,78.846154,100.000000,75.000000,33.347422,82.890855
강북구,0.146974,0.529412,0.416667,0.133118,0.415445,82.352941,92.857143,100.000000,43.096234,88.637222
강서구,0.461095,0.470588,0.416667,0.370649,0.614945,72.900763,100.000000,100.000000,60.114504,84.752105
관악구,0.628242,0.411765,0.583333,0.589523,0.647479,69.062500,100.000000,88.888889,30.561715,80.109157

### 2-6. Checkpoint

In [28]:
crime_anal_norm.to_csv("data/seoul/crime_anal_norm.csv", encoding="utf-8")

In [30]:
crime_anal_norm = pd.read_csv("data/seoul/crime_anal_norm.csv", index_col=0)
crime_anal_norm.head()

,강간,강도,살인,절도,폭력,강간검거율,강도검거율,살인검거율,절도검거율,폭력검거율
구별,,,,,,,,,,
강남구,1.000000,0.941176,0.916667,1.000000,1.000000,77.728285,85.714286,76.923077,42.857143,86.484594
강동구,0.155620,0.058824,0.166667,0.467528,0.437969,78.846154,100.000000,75.000000,33.347422,82.890855
강북구,0.146974,0.529412,0.416667,0.133118,0.415445,82.352941,92.857143,100.000000,43.096234,88.637222
강서구,0.461095,0.470588,0.416667,0.370649,0.614945,72.900763,100.000000,100.000000,60.114504,84.752105
관악구,0.628242,0.411765,0.583333,0.589523,0.647479,69.062500,100.000000,88.888889,30.561715,80.109157