In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import matplotlib.font_manager as fm
font_name = fm.FontProperties(fname="C:\\Windows\\Fonts\\malgun.ttf").get_name()
plt.rc("font", family=font_name)

import matplotlib as mlp
mlp.rcParams["axes.unicode_minus"] = False

import seaborn as sns

# 주제 : 서울시 구별 CCTV 현황 분석

## (1) Data Definition

+ CCTV 현황 : http://data.seoul.go.kr/dataList/OA-2734/F/1/datasetView.do
+ 서울시 인구 : https://data.seoul.go.kr/dataList/419/S/2/datasetView.do
+ https://truman.tistory.com/175

In [2]:
#### CCTV 자료

cctv_seoul = pd.read_csv("data/seoul/cctv.csv")
cctv_seoul.head()

   기관명    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  3238       1292    430    584    932
1  강동구  1010        379     99    155    377
2  강북구   831        369    120    138    204
3  강서구   911        388    258    184     81
4  관악구  2109        846    260    390    613

In [4]:
#엑셀파일에서 필요한 것만 불러오기
pop_seoul=pd.read_excel("data/seoul/Report.xls", usecols="B, D, G, J, N", header=2)
#header=2는 두칸 건너뛴게 제목이 된다는 의미
pop_seoul.head()

   자치구         계      계.1     계.2  65세이상고령자
0   합계  10112070  9838892  273178   1382420
1  종로구    164348   154549    9799     26429
2   중구    135139   126082    9057     21655
3  용산구    245411   229909   15502     37238
4  성동구    314551   306532    8019     41752